<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visita Url</title>
</head>
<body>
    <hgroup style="margin-left: 20px;background-color: beige;">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Toca el boton</h1>
    </hgroup>
    <div style="margin-left: 20px;background-color: aqua;">
        <form action="" method="post">
            <button type="submit"><h3>Push</h3></button>
        </form>
    </div>
</body>
</html>